/* body, */
*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #000;
}

.grid {
  display: grid;
}

.flex {
  display: flex;
  flex-wrap: wrap;
}

img {
  width: 100%;
  object-fit: contain;
}

.container {
  max-width: 1440px;
  padding: 0 2em;
  width: 100%;
  margin: 0 auto;
}

.btn {
  width: 100%;
  padding: 0.9rem 1rem;
  border: none;
  outline: none;
  color: #fff;
  font-size: 0.96rem;
  border-radius: 7px;
  background: #904cd5;
  cursor: pointer;
}

/* NAVIGATION */
nav {
  box-shadow: 0px 4px 4px 0px #dedcdc;
}

nav > div {
  align-items: center;
  /* position: fixed; */
  justify-content: space-between;
  padding: 0.7em 2em !important;
}

.nav-logo {
  align-items: center;
  transition: all 0.4s ease-in;
}

.nav-logo .logo {
  width: 23%;
  margin-right: 0.6rem;
  transition: all 0.4s ease-in;
}

.nav-logo .logo-name h1 {
  color: #490bcb;
  font-size: 1.4rem;
}

.navigation {
  display: none;
  transition: display 0.4s ease-in;
}
.burger-icon {
  position: relative;
  width: 37px;
  padding: 7px 0;
}
.burger {
  background: #000;
  padding: 2px;
  width: 75%;
}
.burger::before {
  content: "";
  background: #000;
  padding: 2px;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  transition: width 0.4s ease-out;
}

.burger::after {
  content: "";
  background: #000;
  padding: 2px;
  width: 45%;
  position: absolute;
  left: 0;
  bottom: 0;
  transition: width 0.4s ease-out;
}

.burger:hover,
.burger:hover::after {
  width: 100%;
  transition: width 0.4s ease-in;
}

.show {
  position: absolute;
  z-index: 10;
  background: #000000d6;
  top: 82px;
  right: 0;
  width: 100%;
  height: 100%;
}
.show ul {
  display: block;
  padding: 1rem 1rem;
  min-height: 100%;
  text-align: center;
  color: #fff;
}
.show ul li {
  padding: 1rem;
  font-size: 1.5rem;
  text-transform: uppercase;
  border-bottom: 1.5px solid;
  margin-bottom: 1rem;
}

@media screen and (min-width: 960px) {
  .nav-logo {
    /* justify-content: space-between; */
    transition: all 0.3s ease-in;
  }

  .nav-logo .logo {
    width: 30%;
    transition: all 0.3s ease-in;
  }

  .navigation {
    display: block;
    float: right;
    transition: display 0.3s ease-in;
  }

  .navigation-list {
    align-items: center;
  }

  .navigation-list li {
    font-size: 1rem;
    margin-right: 1.7em;
  }

  .navigation-list li:last-child {
    border: 1px solid;
    border-radius: 50px;
    margin-right: unset;
    padding: 12px 25px;
  }

  .burger-icon {
    display: none;
  }
}

/* HEADER */

header > div {
  grid-template-columns: repeat(auto-fill, minmax(50%, 1fr));
  grid-gap: 1em 3em;
  padding: 3em 2em !important;
}

.header-image {
  height: 100%;
}
.header-image img {
  object-fit: cover;
  height: 100%;
}

.header-content-text {
  text-align: center;
}

.header-content-text h1 {
  /* width: 85%; */
  line-height: 1.4;
  padding-bottom: 1rem;
  word-spacing: 2px;
}

.header-content-text p {
  width: 80%;
  margin: 0 auto;
  font-size: 0.8rem;
  line-height: 1.5;
  color: #808080c9;
  font-weight: 500;
  padding-bottom: 1rem;
}

.header-content-select-location {
  max-width: 23rem;
  padding: 1rem 1rem;
  margin: 0 auto;
  box-shadow: 0px 4px 4px 4px #e3e3e3;
  border-radius: 5px;
}

.header-content-select-location > input {
  width: 100%;
  height: 39px;
  padding: 0 0.6rem;
  border: 1px solid #e3e3e3;
  outline-color: #acaaaa;
  border-radius: 6px;
}

.select-box {
  justify-content: space-between;
  padding: 0.6rem 0;
}

.select-box select {
  flex-basis: 45%;
  width: 100%;
  height: 39px;
  border: 1px solid #e3e3e3;
  outline-color: #acaaaa;
  padding: 0 0rem 0 0.4rem;
  border-radius: 6px;
  color: #808080c9;
}
.price-progress,
.checkbox {
  padding-bottom: 1rem;
  color: #808080c9;
}
.checkbox input {
  margin-right: 0.4rem;
}

@media screen and (min-width: 1024px) {
  header > div {
    grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
  }
  .header-image {
    order: 2;
  }
  .header-content-text {
    text-align: unset;
  }
  .header-content-text h1 {
    width: 85%;
  }
  .header-content-text p {
    width: 57%;
    margin: unset;
  }
  .header-content-select-location {
    margin: unset;
  }
}

/*=== MAIN ===*/

main {
  padding: 1rem 0 8rem 0;
}

/* first Section */
.right-spaces {
  margin: 1rem auto 3rem auto;
}

.right-spaces > h4 {
  font-size: 1.9rem;
  padding-bottom: 2rem;
}

.right-spaces-cards {
  grid-template-columns: repeat(auto-fill, minmax(50%, 1fr));
  grid-gap: 2em 2em;
}

.right-spaces-card {
  box-shadow: 0px 4px 4px #c0bebecc;
  border-radius: 5px;
}

.right-spaces-card .card-img {
  height: 300px;
}

.right-spaces-card .card-img img {
  object-fit: cover;
  height: 100%;
}

.right-spaces-card .card-caption {
  padding: 1em 2em;
}

.right-spaces-card .card-caption h4 {
  font-size: 1.4rem;
  padding-bottom: 0.6em;
}

.right-spaces-card .card-caption p {
  color: #797979b0;
  font-size: 1rem;
  font-weight: 500;
}

@media screen and (min-width: 760px) {
  .right-spaces-cards {
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  }
}

@media screen and (min-width: 1024px) {
  .right-spaces-cards {
    grid-template-columns: repeat(auto-fill, minmax(25%, 1fr));
  }
}

/* Second Section */

.offers > h4 {
  text-align: center;
  text-transform: uppercase;
  font-size: 2rem;
  padding: 2rem 0;
}

.offers-cards {
  justify-content: space-between;
  grid-template-columns: repeat(auto-fill, minmax(50%, 1fr));
  grid-gap: 2em 5em;
}

.offers-card {
  box-shadow: 0px 4px 4px #e3e3e3;
  padding: 1.3rem 1rem 2rem 1rem;
  grid-gap: 1rem 0.7rem;
}

.offers-card .card-icon {
  height: 100px;
  width: 100px;
  justify-self: center;
}

.offers-card .card-text {
  text-align: center;
}

.offers-card .card-text h4 {
  font-size: 1.2rem;
  padding-bottom: 1rem;
  text-transform: uppercase;
}

.offers-card .card-text p {
  color: #797979b0;
  font-size: 1rem;
}

@media screen and (min-width: 600px) {
  .offers-card {
    grid-template-columns: repeat(auto-fill, minmax(20%, 1fr));
  }

  .offers-card .card-text {
    grid-column: 2/-1;
  }

  .offers-card .card-text p {
    padding: 0 3rem 0 0;
  }
}

@media screen and (min-width: 769px) {
  .offers-cards {
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  }

  .offers-card .card-icon {
    width: 90%;
  }

  .offers-card .card-text {
    text-align: unset;
  }
}

/* === FOOTER === */

footer {
  padding: 2rem 0;
  box-shadow: 0 -4px 5px #e3e3e3;
}

.base-footer {
  grid-gap: 2rem 5rem;
  padding-bottom: 2rem;
}
.base-footer div:first-child ul,
.base-footer div:nth-child(2) ul {
  text-align: center;
}

.base-footer div:first-child ul li,
.base-footer div:nth-child(2) ul li {
  padding-bottom: 0.9rem;
  font-weight: 600;
}

.base-footer div:last-child {
  position: relative;
}
.base-footer div:last-child img {
  position: absolute;
  width: 41px;
  height: 20px;
  top: 15px;
  left: 5px;
}
.base-footer div:last-child input {
  width: 100%;
  padding: 1rem 0rem 1rem 3rem;
  outline: none;
}

.sub-base-footer {
  grid-gap: 2em 5rem;
}
.address p {
  text-align: center;
}

.social-icons {
  justify-content: space-between;
}

.social-icons div {
  width: 40px;
  height: 40px;
}
@media screen and (min-width: 760px) {
  .base-footer {
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  }

  .base-footer div:first-child ul,
  .base-footer div:nth-child(2) ul {
    text-align: unset;
  }

  .base-footer div:first-child ul li,
  .base-footer div:nth-child(2) ul li {
    padding-bottom: 0.5rem;
  }

  .base-footer div:last-child {
    justify-self: end;
    width: 95%;
  }

  .sub-base-footer {
    align-items: center;
  }

  .address p {
    text-align: unset;
  }

  .social-icons {
    grid-column: 3;
    padding-left: 1.3rem;
  }
}
